<template>
    <b-container fluid>
        <div class="text-center p-5">
            <h1>404</h1>
            <p class="text-dark mb-5 lead">Page Not Found</p>
            <p class="text-black-50 mb-0">
                Ooops! Something went wrong... Sorry!
            </p>
            <router-link to="/">← Back to Dashboard</router-link>
        </div>
    </b-container>
</template>
